{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi incidunt ipsam itaque labore magni
    mollitia officiis sunt vero voluptatem?
</p>
<p>
    Alias aliquid doloremque ducimus harum iure laborum, laudantium modi mollitia necessitatibus nesciunt quae quis
    soluta suscipit tempore temporibus voluptas, voluptate.
</p>
{% endblock %}